version: "3.6"
networks:
    {{DEV_NAMESPACE}}:
        name: {{DEV_NAMESPACE}}_default
services:
    nginx_main:
        build:
            args:
                NGINX_VERSION: ${NGINX_VERSION}
            context: "${DEV_SUITE_BASE}/build/nginx"
        volumes:
            - "./scripts:/scripts"
            - "./etc/nginx:/etc/nginx/conf.d"
            - "./etc/ssl:/etc/ssl"
            - "${WWW_DIR}:/var/www"
            - "${NGINX_LOG_DIR}:/var/log/nginx"
        ports:
            - "${NGINX_HTTP_EXPOSING_PORT}:80"
            - "${NGINX_HTTPS_EXPOSING_PORT}:443"
        environment:
            NGINX_HOST:
        networks:
            - {{DEV_NAMESPACE}}
    php72_primary:
        build:
            context: "${DEV_SUITE_BASE}/build/php72"
        volumes:
            - "${WWW_DIR}:/var/www"
        environment:
            - PHP_UPLOAD_MAX_FILEZISE
            - PHP_POST_MAX_SIZE
            - PHP_MEMORY_LIMIT
            - PHP_MAX_EXECUTION_TIME
            - PHP_MAX_INPUT_TIME 
        networks:
            - {{DEV_NAMESPACE}}
    php72_secondary:
        build:
            context: "${DEV_SUITE_BASE}/build/php72"
        volumes:
            - "${WWW2_DIR}:/var/www"
        environment:
            - PHP_UPLOAD_MAX_FILEZISE
            - PHP_POST_MAX_SIZE
            - PHP_MEMORY_LIMIT
            - PHP_MAX_EXECUTION_TIME
            - PHP_MAX_INPUT_TIME
        networks:
            - {{DEV_NAMESPACE}}
    mysql57:
        build:
            context: "${DEV_SUITE_BASE}/build/mysql57"
        container_name: {{DEV_NAMESPACE}}_mysql57
        environment:
            - MYSQL_DATABASE=${MYSQL57_DATABASE}
            - MYSQL_ROOT_PASSWORD=${MYSQL57_ROOT_PASSWORD}
            - MYSQL_USER=${MYSQL57_USER}
            - MYSQL_PASSWORD=${MYSQL57_PASSWORD}
        ports:
            - "${MYSQL57_EXPOSING_PORT}:3306"
        networks:
            - {{DEV_NAMESPACE}}
    phpmyadmin:
        build:
            context: "./build/phpmyadmin"
        container_name: {{DEV_NAMESPACE}}_phpmyadmin
        ports:
            - "${PHPMYADMIN_WEB_EXPOSING_PORT}:80"
        environment:
            - PMA_ARBITRARY=1
        networks:
            - {{DEV_NAMESPACE}}

